* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
}

.btns-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2% auto;
}

.btns-cont p {
  font-size: 24px;
  font-weight: bold;
}

.btns-cont .btns {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2% auto;
  gap: 16px;
}

.btns-cont .btns button {
  padding: 20px 40px;
  background: #e6d9d9;
  border-radius: 8px;
  border: 1px solid #222;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  transition: all 0.2s ease;
}

.btns-cont .btns button:hover {
  background: #e6d9d96e;
}